block value
include ../config/_config

doctype html
html(lang="ja")
  head
    include ../config/_meta
    include ../config/_favicon
    include ../config/_stylesheet

  body
    block header

    block main

    block footer