block value
include ../config/_config

doctype html
html(lang="ja")
  head
    include ./_meta
    include ./_favicon
    include ./_stylesheet

  body
    block header

    block main

    block footer