link(rel="stylesheet", href=cssPath + "style.min.css")

style(type="text/css").
  body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
    background-color: #fffffe;
    color: #2d334a;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 3rem auto 1rem;
  }
  h1 {
    font-size: 40px;
    font-weight: 750;
  }
  h2 {
    font-size: 30px;
    font-weight: 750;
    margin-bottom: 1em;
    border-bottom: 1px solid
  }
  a {
    color: #2d334a;
    font-size: 18px;
  }
  li {
    list-style: none;
  }
  main {
    width: 100%;
    max-width: 1024px;
    flex: 1;
    margin: 0 auto;
  }
  .description {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .description a {
    font-size: 20px;
  }
  .code-block {
    margin-bottom: 3em
  }
  pre {
    background-color: #2d334a;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    margin-top: 1em;
    padding: 1.2em;
  }
  footer {
    text-align: center;
    width: 100%;
    max-width: 1024px;
    margin: 3rem auto;
  }