@use 'sass:map';

$breakpoints: (
  'min': (
    'xs': (
      min-width: 0
    ),
    'sm': (
      min-width: 576px
    ),
    'md': (
      min-width: 768px
    ),
    'lg': (
      min-width: 992px
    ),
    'xl': (
      min-width: 1200px
    ),
    'xxl': (
      min-width: 1400px
    )
  ),
  'max': (
    'xs': (
      max-width: 0
    ),
    'sm': (
      max-width: 575.98px
    ),
    'md': (
      max-width: 767.98px
    ),
    'lg': (
      max-width: 991.98px
    ),
    'xl': (
      max-width: 1199.98px
    ),
    'xxl': (
      max-width: 1399.98px
    )
  )
) !default;

@mixin responsive($breakpoint, $limit: 'min') {
  @media screen and #{inspect( map.get( map.get( $breakpoints, $limit ), $breakpoint ) )} {
    @content;
  }
}
