block value
include ../config/_config
doctype html
html(lang="ja")
  head
    include ../head/_meta
    include ../head/_favicon
    include ../head/_stylesheet

  body
    block header

    block main

    block footer