extends ./helpers/layout/_layout

block value
  - const path = ".";

block header
  include components/header/_header

block main
  include components/main/_index

block footer
  include components/footer/_footer