extends ./helpers/layout/_layout

block value
  - const title = "Home";
  - const description = "";
  - const path = ".";

block header
  include components/_header

block main
  include components/pages/_index

block footer
  include components/_footer