extends ./include/layout/_layout
append value
  - const title = "Home";
  - const description = "";
  - const path = ".";

block header
  include include/layout/_header

block main
  include include/pages/_main-index

block footer
  include include/layout/_footer