extends ./helpers/layout/_layout

block value
  - const path = ".";
  - const title = "Gulp-pug-sass Boilerplate";

block header
  include components/header/_header

block main
  include components/main/_index

block footer
  include components/footer/_footer