include mixin/_head.pug

doctype html
html
  +head('Sample')
  body
    header.l-header
      h1 Welcome

      nav
        ul
          li
            a(href="index.html") Home
          li
            a(href="./sample.html") Sample

    main.l-main

    footer.l-footer

  script(src="./js/main.js")