<!DOCTYPE html>
<html lang="ja">

<%- include ('./_data.ejs'); %>
<%
  const meta = data();
  const page = "home";
%>
<%- include ('./_components/_head', {meta: meta.pageMeta[page]}) %>

<body>
  <header class="l-header">
    <h1><a href="index.html">Welcome!</a></h1>
    <a href="sample.html">Sample</a>
    <a href="pages/page.html">Page</a>
  </header>
  <main class="l-main"></main>
  <footer class="l-footer"></footer>
</body>

<script src="./js/main.js"></script>

</html>