<!DOCTYPE html>
<html lang="ja">

<%- include ('./_data.ejs'); %>
<%
  const meta = data();
  const page = "home";
%>
<%- include ('./_components/_head', {meta: meta.pageMeta[page]}) %>

<body>
  <header>
    <h1>Welcome!</h1>
  </header>
  <main></main>
  <footer></footer>
</body>

<script src="./js/main.js"></script>

</html>