<!DOCTYPE html>
<html lang="ja">

<%- include ('./_components/_head.ejs') %>

<body>
  <header>
    <h1>Welcome!</h1>
  </header>
  <main></main>
  <footer></footer>
</body>

<script src="./js/main.js"></script>

</html>