<!DOCTYPE html>
<html lang="ja">
  <%- include ('./_data.ejs'); %>
  <%
    const meta = data();
    const page = "sample";
  %>
  <%- include ('./_components/_head', {meta: meta.pageMeta[page]}) %>
  <body>
    <header class="l-header">
      <h1>Sample</h1>
      <a href="index.html">Back to home</a>
    </header>
    <main class="l-main"></main>
    <footer class="l-footer"></footer>
  </body>
  <script src="./js/main.js"></script>
</html>