main.l-main
  .description
    | This is a boilerplate for web-frontend developer made by
    |
    a(href="https://twitter.com/1lMine") Minaki-web
    |.

  .code
    h2 Commands
    .code-block
      p This is a basic command.
      pre
        code $ npm start

    .code-block
      p You can run this command for building production.
      pre
        code $ npm run build

    .code-block
      p You can run this command when you wanna only start web server and watching files.
      pre
        code $ npm run watch

    .code-block
      p You can run this command when you wanna delete "dist".
      pre
        code $ npm run reset

    p If you want more commands, you can see them in
      |
      |
      a(href="https://github.com/Minaki-web/boilerplate") Github
      |.

  .tips
    h2 Tips
    ul
      li Store all images in under "src/img".
      li Store all favicons in under "src".